<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card custom-card">
            <div class="card-body">
                <div class="alert alert-success custom-center" role="alert">
                    <h4 class="alert-heading">Success</h4>
                    @if (string.IsNullOrEmpty(ViewBag.Email))
                    {
                        @:The link has been sent, please check your email to reset your password.
                    }
                    else
                    {
                        System.Text.StringBuilder sb = new System.Text.StringBuilder();
                        sb.Append("The link has been sent to ");
                        sb.Append("<b>");
                        sb.Append(ViewBag.Email);
                        sb.Append("</b>");
                        sb.Append(", Please check your email to reset your password");
                        @Html.Raw(sb)
                        @*@:The link has been sent to
            @ViewBag.Email
            @:,Please check your email to reset your password*@
                    }

                </div>
            </div>
        </div>
        
    </div>
</div>
