@model identity_server.Controllers.Account.ForgotPasswordModel

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card" style="border: none !important; background-clip: unset !important">
            <div class="" style="padding-left: 20px !important; text-align: center">
                <h2>Forgot Password</h2>
            </div>

            <div class="card-body">
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" style="background-color: #594ae2"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
