<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card custom-card">
            <div class="custom-center">
                <h2>Success</h2>
            </div>
        </div>
        <div class="card-body">
            <p>
                Your password has been reset. Please <a class="custom-color" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Click here to log in</a>.
            </p>
        </div>
    </div>
</div>

