<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card" style="border: none !important; background-clip: unset !important">
            <div class="" style="padding-left: 20px !important; text-align: center">
                <h2>Success</h2>
            </div>
        </div>
        <div class="card-body">
            <p>
                Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>

