.body-container {
  margin-top: 60px;
  padding-bottom: 40px; }

.welcome-page li {
  list-style: none;
  padding: 4px; }

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0; }

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray; }
  .grants-page .card .card-title {
    font-size: 120%;
    font-weight: bold; }
    .grants-page .card .card-title img {
      width: 100px;
      height: 100px; }
  .grants-page .card label {
    font-weight: bold; }



.customnav {
    background-color: #594ae2 !important;
}
.custom-color {
    color: #594ae2;
}

/* login starts here */
.custom-center {
    text-align: center;
}
.custom-navbar-brand {
    color: #fff !important;
}
.custom-forgot {
    color: #594ae2;
    text-decoration: underline;
}
.custom-forgot-wrapper {
    text-align: center;
    margin-top: 15px;
}
.custom-card {
    border: none !important;
    background-clip: unset !important;
}
.custom-button {
    background-color: #594ae2;
}
.custom-signup {
    margin-top: 20px;
    color: #594ae2;
}
.custom-error-message {
}
/* login ends here */
/* signup starts here */
.custom-signup-header {
    margin-bottom: 30px;
    text-align: center;
}
.custom-signup-button {
    margin-top: 20px;
    background-color: #594ae2;
}
/* signup ends here */