@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@attribute [AllowAnonymous]

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="popup">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </LoggingIn>
    <CompletingLoggingIn>
        <div class="popup">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </CompletingLoggingIn>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string? Action { get; set; }
}

